.popup__error {
    font-size: 12px;
    line-height: 15px;
    color: #FF0000;
    margin-bottom: 10px;
    align-self: flex-start;
    visibility: hidden;
    height: 20px;
    opacity: 0;
    transition: visiability .3s linear opacity .3s linear;
}
.popup__error:last-of-type {
    margin-bottom: 28px;
}

@media screen and (max-width: 600px) {
    .popup__error:last-of-type {
        margin-bottom: 25px;
    }
}