.popup__tooltip-text {
    font-family: 'Inter';
    font-weight: 900;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    color: #000000;
    max-width: 358px;
    margin: 0 auto 23px;
}
@media screen and (max-width: 560px) {
    .popup__tooltip-text {
        font-size: 20px;
        line-height: 24px;
        margin-bottom: 13px;
    }
}
@media screen and (max-width: 425px) {
    .popup__tooltip-text {
        width: 244px;
    }
}