.profile__add-button {
    width: 150px;
    height: 50px;
    background-color: transparent;
    border: 2px solid #fff;
    border-radius: 2px;
    padding: 14px 64px;
    margin-top: 35px;
    box-sizing: border-box;
    cursor: pointer;
    transition: opacity .4s ease;
}
.profile__add-button:hover {
    opacity: .6;
}

@media screen and (max-width: 720px) {
    .profile__add-button {
        margin: 0;
        width: 300px;
    }
}

@media screen and (max-width: 560px) {
    .profile__add-button {
        width: 100%;
    }
}