.popup__input {
    width: 100%;
    max-height: 27px;
    padding: 0;
    padding-bottom: 13px;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, .2);
    outline: none;
    position: relative;
}
.popup__input::placeholder {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #000;
    font-family: 'Inter', Arial, Helvetica, sans-serif;
}
.popup__input::-webkit-input-placeholder {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #000;
    font-family: 'Inter', Arial, Helvetica, sans-serif;
}
.popup__input::-moz-placeholder {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #000;
    font-family: 'Inter', Arial, Helvetica, sans-serif;
}
.popup__input::-ms-input-placeholder {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #000;
    font-family: 'Inter', Arial, Helvetica, sans-serif;
}